.vscode/
.idea/

build/
cmake-build-relwithdebinfo-visual-studio/
CMakeFiles/

BlockNav/build/
BlockNav/cmake-build-relwithdebinfo-visual-studio/
BlockNav/CMakeFiles/

AdvancedF3/build/
AdvancedF3/cmake-build-relwithdebinfo-visual-studio/
AdvancedF3/CMakeFiles/